<div class="form-container">
    <form class="bordered-form" [formGroup]="registerForm" (submit)="register()">
        <div class="form-header">
            <h2 class="form-title">Create an account</h2>
            <p class="call-to-action-text">Sign up to save and review your favorite recipes.</p>
        </div>
        <div class="form-field-container">
            <!-- First name -->
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput placeholder="John" formControlName="firstName" required>
                <mat-error *ngIf="registerForm.get('firstName')?.invalid">{{getErrorMessageFirstName()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-field-container">
            <!-- Last name -->
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Doe" formControlName="lastName" required>
                <mat-error *ngIf="registerForm.get('lastName')?.invalid">{{getErrorMessageLastName()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-field-container">
            <!-- Email -->
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="john.doe@gmail.com" formControlName="email" required>
                <mat-error *ngIf="registerForm.get('email')?.invalid">{{getErrorMessageEmail()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-field-container">
            <!-- Password -->
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput [type]="hidePass ? 'password' : 'text'" formControlName="password" required>
                <mat-error *ngIf="registerForm.get('password')?.invalid">{{getErrorMessagePassword()}}</mat-error>
                <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePass">
                    <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="form-field-container">
            <!-- Confirm password -->
            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="hideRePass ? 'password' : 'text'" formControlName="rePassword" required>
                <mat-error *ngIf="registerForm.get('rePassword')?.invalid">{{getErrorMessageRePassword()}}</mat-error>
                <button mat-icon-button matSuffix (click)="hideRePass = !hideRePass" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hideRePass">
                    <mat-icon>{{hideRePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary">Sign Up</button>
        <br>
        <p>
            Have an account?
            <a routerLink="/auth/login">Log In</a>
        </p>

    </form>
</div>