<div class="comment-card-container">
    <mat-card class="comment-card">
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <div>
                    <p>{{comment?.commentAuthor?.firstName![0]}}{{comment?.commentAuthor?.lastName![0]}}</p>
                </div>
            </div>
            <mat-card-title>{{comment?.commentAuthor?.firstName}}
                {{comment?.commentAuthor?.lastName}}</mat-card-title>
            <mat-chip *ngIf="commentByOwner" highlighted color="primary">Author</mat-chip>
            <mat-chip *ngIf="ownComment">Own Comment</mat-chip>
            <mat-card-subtitle>{{getCommentSince(comment?.created_at)}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="comment-content">
                {{comment?.comment}}
            </p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button *ngIf="ownComment" mat-stroked-button (click)="handleDeleteRecipeComment()" color="warn">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
        </mat-card-actions>
    </mat-card>
</div>