<div class="container">
    <div class="user-personal-information">
        <mat-card class="user-information-card">
            <div mat-card-avatar class="avatar">
                <div>
                    <h2>{{userInformation.firstName[0]}}{{userInformation.lastName[0]}}</h2>
                </div>
            </div>
            <div>
                <h2>Welcome to your profile, {{userInformation.firstName}} {{userInformation.lastName}}!</h2>
                <p>{{userInformation.email}}</p>
            </div>
        </mat-card>
    </div>
    <div class="user-recipe-data">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="My Recipes ({{userRecipesList?.length}})">
                <div class="recipe-list-holder">
                    <mat-card class="recipe-list-item" *ngFor="let recipe of userRecipesList"
                        [routerLink]="['/recipes/details',recipe._id]">

                        <div class="recipe-image">
                            <img *ngIf="!recipe.imageURL" src="../../../assets/images/recipe-placeholder-image.jpg"
                                alt="recipe-placeholder-image">
                            <img *ngIf="recipe.imageURL" src="{{recipe.imageURL}}" alt="Photo of {{recipe.title}}" />
                        </div>
                        <div class="recipe-info">
                            <mat-card-title>{{recipe.title}}</mat-card-title>
                            <mat-card-subtitle class="recipe-dish-type">{{recipe.dishTypes}}</mat-card-subtitle>
                            <p class="recipe-summary">{{recipe.summary}}</p>
                        </div>
                        <div class="recipe-actions">
                            <button mat-stroked-button color="primary"
                                [routerLink]="['/recipes/details',recipe._id, 'edit']"
                                routerLinkActive="router-link-active">
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-stroked-button color="warn" (click)="openDeleteDialog(recipe, $event)">
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </div>
                        <!-- <mat-divider></mat-divider> -->
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="Saved Recipes">Content 2</mat-tab>
            <mat-tab label="Comments">Content 3</mat-tab>
        </mat-tab-group>
    </div>
</div>