<main class="recipe-container" *ngIf="recipe">
    <div class="recipe-page">
        <section class="recipe-hero">
            <div>
                <!-- Recipe Image -->
                <img *ngIf="!recipe.imageURL" src="../../../assets/images/recipe-placeholder-image.jpg"
                    class="img recipe-hero-img" alt="recipe-placeholder-image">
                <img *ngIf="recipe.imageURL" src="{{recipe.imageURL}}" class="img recipe-hero-img"
                    alt="Photo of {{recipe.title}}" />
                <!-- Recipe Action Buttons -->
                <div *ngIf="isLoggedIn">
                    <div class="recipe-action-buttons" *ngIf="!userIsOwner">
                        <button mat-stroked-button color="primary" *ngIf="!recipe.savesList.includes(userId ?? 'abc')"
                            (click)="saveRecipe()">
                            <mat-icon>favorite</mat-icon>
                            <span>Save</span>
                        </button>
                        <button mat-stroked-button color="primary" *ngIf="recipe.savesList.includes(userId ?? '')"
                            (click)="handelRemoveSavedRecipe(recipe._id)">
                            <mat-icon class="material-symbols-outlined">
                                heart_minus
                            </mat-icon>
                            <span>Remove</span>
                        </button>
                        <button mat-stroked-button color="primary">
                            <mat-icon>comment</mat-icon>
                            <span>Comment</span>
                        </button>
                    </div>
                    <div class="recipe-action-buttons" *ngIf="userIsOwner">
                        <button mat-stroked-button color="primary" [routerLink]="['./edit']"
                            routerLinkActive="router-link-active">
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-stroked-button (click)="openDeleteDialog()" color="primary">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                    </div>
                </div>
            </div>
            <article class="recipe-info">
                <!-- Recipe Title -->
                <h1>{{recipe.title}}</h1>
                <div class="recipe-meta-data">
                    <!-- Recipe Author -->
                    <span>Recipe by: {{ recipe.author.firstName }} {{ recipe.author.lastName }}</span>
                    <!-- Recipe Comments Count -->
                    <span>{{recipe.commentsList.length}} Comments</span>
                    <!-- Recipe Saves Count -->
                    <span>{{recipe.savesList.length}} Saves</span>
                </div>
                <!-- Recipe Summary -->
                <p>{{recipe.summary}}</p>
                <div class="recipe-icons">
                    <!-- Recipe Preparation Time -->
                    <article>
                        <span class="material-symbols-outlined">
                            schedule
                        </span>
                        <h5>Prep Time:</h5>
                        <p>{{recipe.preparationMinutes}} min.</p>
                    </article>
                    <!-- Recipe Cooking Time -->
                    <article>
                        <span class="material-icons-outlined">
                            <span class="material-symbols-outlined">
                                soup_kitchen
                            </span>
                        </span>
                        <h5>Cook Time:</h5>
                        <p>{{recipe.cookingMinutes}} min.</p>
                    </article>
                    <!-- Recipe Servings -->
                    <article>
                        <span class="material-symbols-outlined">
                            group
                        </span>
                        <h5>Servings:</h5>
                        <p>{{recipe.servings}}</p>
                    </article>
                    <!-- Recipe Price per Serving -->
                    <article>
                        <span class="material-symbols-outlined">
                            monetization_on
                        </span>
                        <h5>Costs per serving:</h5>
                        <p>${{recipe.pricePerServing}}</p>
                    </article>
                </div>
                <!-- Dish Types -->
                <div class="dish-type-section">
                    <span>
                        <p>Dish Type:</p>
                    </span>
                    <span>
                        <ul *ngFor="let dishType of recipe.dishTypes">
                            <li>
                                {{dishType}}
                            </li>
                        </ul>
                    </span>
                </div>
            </article>
        </section>

        <div *ngIf="!isLoggedIn">
            <mat-divider class="when-no-user"></mat-divider>
        </div>

        <!-- Recipe Ingredients List -->
        <section class=" recipe-content">
            <article class="recipe-ingredients-list">
                <div>
                    <h2>Ingredients</h2>
                    <mat-list *ngFor="let ingredient of recipe.extendedIngredients; let i = index">
                        <mat-list-item>{{ingredient.measures.metric.amount}} {{ingredient.measures.metric.unitShort}}
                            {{ingredient.name}}</mat-list-item>
                        <mat-divider *ngIf="i != (recipe.extendedIngredients.length-1)"></mat-divider>
                    </mat-list>
                </div>
            </article>
            <!-- Recipe Instructions-->
            <article class="recipe-instructions">
                <h2>Instructions</h2>
                <!-- single instruction -->
                <div class="single-instruction"
                    *ngFor="let instruction of recipe.analyzedInstructions[0].steps; let i = index">
                    <header>
                        <p>step {{instruction.number}}</p>
                        <div></div>
                    </header>
                    <p>
                        {{instruction.step}}
                    </p>
                </div>
                <!-- end of single instruction -->
            </article>
        </section>
        <!-- Comments Section -->
        <section class="comments-section">
            <div class="write-comment-section">
                <mat-card>
                    <app-comment-recipe [recipeId]="recipe._id"></app-comment-recipe>
                </mat-card>
            </div>

            <div>
                <h2>Comments</h2>

                <div *ngFor="let comment of commentsList">
                    <app-comment-card [comment]="comment"></app-comment-card>
                </div>

            </div>
        </section>
        <!-- Similar Recipes Section -->
        <!-- Add dynamic template -->
        <!-- <h2 class="similar-recipes-header">Similar Recipes</h2>
        <section class="recipes-container">
            <mat-card class="recipe-card">
                <img mat-card-image
                    src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/meatball-lasagne-e64e936.jpg?quality=90&webp=true&resize=500,454"
                    alt="Photo of a Shiba Inu">
                <mat-card-header>
                    <mat-card-subtitle>Add the type of the cuisine here</mat-card-subtitle>
                    <mat-card-title>Add the name of the dish</mat-card-title>
                </mat-card-header>
            </mat-card>
        </section> -->
    </div>
</main>