<!--Add dynamic template-->
<div class="recipes-catalog-hero">
    <h2 class="recipes-catalog-header">Recipes</h2>
    <p>Discover, share and explore a world of mouth-watering recipes. From quick and easy weeknight meals to gourmet
        delights.<br>Connect with food lovers, exchange tips and be inspired.</p>
</div>
<div class="recipes-catalog">
    <section class="recipes-container">
        <!-- Recipe Card -->
    </section>
    <div class="show-more-btn-holder">
        <button mat-raised-button color="primary">Load More</button>
    </div>
</div>