<div class="recipes-catalog-hero">
    <h2 class="recipes-catalog-header">Recipes</h2>
    <p>Discover, share and explore a world of mouth-watering recipes. From quick and easy weeknight meals to gourmet
        delights.<br>Connect with food lovers, exchange tips and be inspired.</p>
</div>
<div class="recipes-catalog">
    <section class="recipes-container">
        <!-- Recipe Card -->
        <div *ngFor="let recipe of recipesList">
            <mat-card class="recipes-list-card" [routerLink]="['/recipe-details',recipe._id]">
                <img *ngIf="!recipe.imageURL" src="../../assets/recipe-placeholder-image.jpg"
                    alt="recipe-placeholder-image">
                <img *ngIf="recipe.imageURL" mat-card-image src="{{recipe.imageURL}}" alt="Photo of {{recipe.title}}">
                <mat-card-header>
                    <mat-card-subtitle class="recipe-dish-type">{{recipe.dishTypes}}</mat-card-subtitle>
                    <mat-card-title>{{recipe.title}}</mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>
    </section>
    <div class="show-more-btn-holder">
        <button mat-raised-button color="primary">Load More</button>
    </div>
</div>