.nav-spacer {
  flex: 1 1 auto;
}

.recipehub-logo {
  height: auto;
  width: 140px;
  vertical-align: middle;
  cursor: pointer;
}

.nav-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
  font-weight: 700;
  text-transform: uppercase;
}

mat-form-field {
  margin-right: 12px;
}

.guest-navigation,
.user-navigation {
  padding: 0;
  margin: 0;
}

/* Desktop Menu */
@media (max-width: 800px) {
  .nav-button-row,
  .user-menu-button {
    display: none;
    flex-direction: column;
    width: 100%;
  }
}

/* Mobile Menu */
@media (min-width: 800px) {
  .mobile-menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }
}
