<div class="form-container">
    <form class="bordered-form" [formGroup]="loginForm" (submit)="login()">
        <div class="form-header">
            <h2 class="form-title">Log In</h2>
        </div>
        <div class="form-field-container">
            <!-- Email -->
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="john.doe@gmail.com" formControlName="email" required>
                <mat-error *ngIf="loginForm.get('email')?.invalid">{{getErrorMessageEmail()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-field-container">
            <!-- Password -->
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput [type]="hidePass ? 'password' : 'text'" formControlName="password" required>
                <mat-error *ngIf="loginForm.get('password')?.invalid">{{getErrorMessagePassword()}}</mat-error>
                <button type="button" mat-icon-button matSuffix (click)="hidePass = !hidePass"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
                    <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary">Log In</button>
        <br>
        <p>
            Don't have an account?
            <a routerLink="/auth/register">Join now</a>
        </p>
    </form>
</div>