html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

app-root {
  --max-width: 1120px;
}

.snackbar-success {
  --mdc-snackbar-container-color: #497530;
}

.snackbar-error {
  --mdc-snackbar-container-color: red;
}

.mat-mdc-snack-bar-container {
  transform: translateY(60px) !important;
}
