html,
body {
  height: 100%;
  width: 100vw;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field-container {
  width: min(700px, 90%);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  width: min(700px, 90%);
}

.form-title {
  text-align: center;
  text-transform: uppercase;
}

.call-to-action-text {
  margin: 20px;
  padding: 5px 30px;
  text-align: center;
}

.bordered-form {
  border: 1px solid #ccc;
  border-radius: 5px;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

app-root {
  --max-width: 1120px;
}

.snackbar-success {
  --mdc-snackbar-container-color: #497530;
}

.snackbar-error {
  --mdc-snackbar-container-color: red;
}

.mat-mdc-snack-bar-container {
  transform: translateY(60px) !important;
}
