<div>
    <!--Banner-->
    <div class="banner">
        <div class="hero-text">
            <h1>Welcome to RecipeHub</h1>
            <h5>Connect with food lovers, exchange tips, and be inspired. Join us and let your taste buds rejoice!</h5>
            <div class="show-more-btn-holder" *ngIf="!isLoggedIn">
                <button mat-raised-button color="primary" [routerLink]="['/auth/register']"
                    routerLinkActive="router-link-active">Get Started</button>
            </div>
        </div>
    </div>
    <!-- <app-progress-spinner></app-progress-spinner> -->
    <!--Recipes of the week-->
    <div>
        <div class="week-recipes-catalog-hero">
            <h2 class="week-recipes-catalog-header">Latest Recipes</h2>
        </div>
        <div class="week-recipes-catalog">
            <section class="week-recipes-container">
                <!-- Dynamic Recipe Gallery -->
                <app-recipes-gallery></app-recipes-gallery>
            </section>
        </div>
    </div>
</div>