.search-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width-field {
  width: 100%;
}

.search-icon {
  cursor: pointer;
}

.no-recipes-found {
  text-align: center;
}
