<div class="search-form-container">
    <form class="search-form">
        <mat-form-field class="full-width-field">
            <mat-label>Search...</mat-label>
            <input name="searchQuery" [(ngModel)]="searchQuery" (keyup.enter)="search()" type="text" matInput>
            <mat-icon class="search-icon" (click)="search()" matSuffix>search</mat-icon>
        </mat-form-field>
    </form>
</div>
<div *ngIf="foundRecipes.length > 0">
    <div>
        <h4>Found {{foundRecipes.length}} {{foundRecipes.length==1? 'recipe' : 'recipes'}}</h4>
    </div>
    <app-profile-recipe-list [recipesArray]="foundRecipes"></app-profile-recipe-list>
</div>
<div *ngIf="noResults">
    <div class="no-recipes-found">
        <h2>No recipes found</h2>
    </div>
</div>