<div class="comment-form">
    <div>
        <div class="form-container">
            <form [formGroup]="commentForm" (submit)="onConfirm()">
                <h1 class="comment-form-title">Leave a comment</h1>
                <div class="form-field-container">
                    <!-- Comment Content -->
                    <mat-form-field>
                        <mat-label>Enter your comment here...</mat-label>
                        <textarea matInput placeholder="Amazing recipe..." formControlName="commentContent" rows="3"
                            required></textarea>
                        <mat-error
                            *ngIf="commentForm.get('commentContent')?.invalid">{{getErrorMessageCommentContent()}}</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <button type="submit" mat-flat-button cdkFocusInitial color="primary">Comment</button>
                </div>
            </form>
        </div>
    </div>
</div>